# ===== Backend (Maven / Spring Boot) =====
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.jar
*.war
api-sentinel-backend/src/main/resources/application.properties

# ===== Frontend (React / Node) =====
node_modules/
build/
dist/
.env
.env.local

# ===== IDE =====
.idea/
*.iml
.vscode/
.DS_Store
